.listBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 5rem;
  color: #101820;
  border-bottom: 1px solid grey;
  padding-bottom: 0.5rem;
}
.listCheck {
  width: 1.3rem;
  height: 1.3rem;
}

.btnGroup * {
  margin: 0px 0.3rem;
}

.btnEdit {
  width: 3rem;
  height: 1.5rem;
}
.btnDelete {
  width: 3rem;
  height: 1.5rem;
}
